<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
{% load static %} <!-- New line -->

<style>
.input_data{ float:left}
.res_display{margin-right:80px}
.iris_img{ float:right}

</style>
<head>
    <title>Iris claffication</title>
</head>
<h1 align="center">基于SVM的鸢尾花分类演示</h1>

<div class="input_data">
        花萼长度:&nbsp;<input type="text" name="Col1" align="center" value="{{ feat1 }}"> <br>
        花萼宽度:&nbsp;<input type="text" name="Col2" align="center" value="{{ feat2 }}"> <br>
        花瓣长度:&nbsp;<input type="text" name="Col3" align="center" value="{{ feat3 }}"> <br>
        花瓣宽度:&nbsp;<input type="text" name="Col4" align="center" value="{{ feat4 }}"> <br><br>
    <input type="submit" align="center" value="分类"></input>
</div>

<div class="res_display">
    <h2 align="right">分类结果将在这里显示:</h2>
    <h3 style="color:#F00" align="right">{{ res_class }}</h3>
</div>
<br><br>

<!-- New line -->
<div class="iris_img">
	<img src="{% static res_img %}">
</div>
<br><br>

{% if res_class %}
	<div style="color:#F00" align="left">{% include 'echarts.html' %}</div>
{% endif %}

</form>
